@import '../../../../constants';

$indent-margin: 4vw;

$group-width: $width * .2;
$group-width-mobile: $mobile-width * .25;

:host {
	display: block;
}

.preview-group-container {
	padding: $padding;
	width: $group-width;
	border-radius: $radius;
	background: rgba($blue, .1);
	box-shadow: $box-shadow-light;
	margin-bottom: $padding;

	@media screen and (max-width: $mobile-breakpoint) {
		width: $group-width-mobile;
	}

	.question{
	font-size: larger;
	}

	.radio-group{
		display: flex;
		justify-content: space-around;
	}
}

.indented-groups {
	margin-left: $indent-margin;
}
