//colors: https://www.materialui.co/flatuicolors

$white: #ffffff;
$cloud: #ecf0f1;
$blue: #3498db;
$red: #e74c3c;
$anthracite: #2c3e50;

$box-shadow: 0 2px 20px 5px rgba(0, 0, 0, .25);
$box-shadow-light: 0 2px 5px 2px rgba(0, 0, 0, .1);

$radius: 5px;

$width: 80vw;
$mobile-width: 95vw;

$height: 80vh;
$mobile-height: 95vh;

$mobile-breakpoint: 767px;

$padding: 15px;
$input-padding: 7px 15px 6px;

$margin: 5px 0 15px 0;
